*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-color: #111;
    overflow: hidden;

    .container{
        margin: 0 auto;
        max-width: 1080px;
        text-align: center;
        height: 100vh;

        .interface_box{
            position: relative;
            display: flex;
            justify-content: center;

            .screen{
                position: absolute;
                background-color: #fff;
                padding: 32px;
                margin: 32px auto;
                border-radius: 16px;
                width: 90%;
                transition: all ease .5s;

                @media(max-width: 768px){
                    margin-top: 32px;
                }

                .title{
                    font-family: "Space Grotesk", sans-serif;
                    font-size: 48px;
                    margin-bottom: 8px;
                    @media(max-width: 768px){
                        font-size: 32px;
                    }
                }
            }
            .hidden{
                opacity: 0;
                translate: 0 720px;
            }
            .landing{
                img{
                    max-height: 140px;
                    margin-bottom: 16px;

                    @media(max-width: 768px){
                        max-height: 80px;
                    }
                }
                .description{
                    font-size: 20px;
                    text-align: justify;
                    margin-bottom: 16px;
                    background-color: rgb(255, 230, 69);
                    border: solid 4px rgb(224, 154, 40);
                    border-radius: 8px;
                    padding: 12px;

                    @media(max-width: 768px){
                        font-size: 16px;
                    }
                }
                .btn{
                    padding: 4px;
                    font-size: 20px;
                    border: solid 4px rgb(173, 17, 0);
                    background-color: rgb(204, 118, 108);
                    border-radius: 4px;
                    color: #fff;
                    transition: all ease .3s;
    
                    &:hover{
                        translate: 0 -4px;
                        box-shadow: 0 2 4 #111;
                    }
                }
            }
            .sistema{
                .instruction{
                    font-size: 24px;
                    margin-bottom: 16px;
                }
                .form{
                    display: flex;
                    gap: 16px;
                    justify-content: center;
                    margin-bottom: 32px;

                    .dataTGT{
                        font-size: 16px;
                        padding: 4px;
                        border-radius: 4px;

                        @media(max-width: 768px){
                            font-size: 14px;
                        }
                    }
                    .btn{
                        padding: 4px;
                        border-radius: 4px;
                        font-size: 16px;
                        transition: all ease .3s;

                        &:hover{
                            translate: 0 2px;
                            box-shadow: inset 0 1 2 #111;
                        }

                        @media(max-width: 768px){
                            font-size: 14px;
                        }
                    }
                }
                .resultados_box{
                    .resultados{
                        font-size: 24px;
                        margin-bottom: 16px;
                    }
                    .dif{
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}